# Core Django
Django==5.2.3

# REST Framework
djangorestframework==3.16.0

# WSGI Server
gunicorn==21.2.0

# Static files
whitenoise==6.6.0

# Database
psycopg2-binary==2.9.9
dj-database-url==2.1.0

# Environment variables
python-dotenv==1.0.1

# Image processing
Pillow==10.2.0

# Development tools
django-browser-reload==1.18.0

# Frontend
django-tailwind==4.0.1