# Core
Django==5.2.3
gunicorn==21.2.0

# Database
psycopg2-binary==2.9.9
dj-database-url==2.1.0

# Static files
whitenoise==6.6.0

# Environment
python-dotenv==1.0.1

# Media processing
Pillow==10.2.0

# Django REST Framework
djangorestframework==3.16.0

# Tailwind CSS
django-tailwind==3.8.0

# Development tools (se instala condicionalmente)
django-browser-reload==1.18.0